<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <img src="./assets/images/Blog_img_01.png" class="card-img-top" alt="first">
            <div class="card-body">
                <h5 class="card-title">Going Upstream: The Montblanc 1858 Chronograph Tachymeter Limited </h5>
                <a href="#" class="btn btn-secondary btn-fa-arrow">Read more</a>
            </div>
        </div>
        <div class="card">
            <img src="./assets/images/Blog_img_02.png" class="card-img-top" alt="second">
            <div class="card-body">
                <h5 class="card-title">Baume & Mercier Clifton Club Burt Munro Tribute Honors</h5>
                <a href="#" class="btn btn-secondary btn-fa-arrow">Read more</a>
            </div>
        </div>
        <div class="card">
            <img src="./assets/images/Blog_img_03.png" class="card-img-top" alt="third">
            <div class="card-body">
                <h5 class="card-title">Do a Barrel Roll: Introducing the Alpina 99MG Pilot’s Watch</h5>
                <a href="#" class="btn btn-secondary btn-fa-arrow">Read more</a>
            </div>
        </div>
    </div>
</div>