<div class="container-fluid hero-inner">

    <div class="hero-cta">
        <h2>The message is a simple. <span>That's it.</span></h2>
        <p>This is watch maintains their signature aesthetic as it pushes <strong>the boundaries of design
                possibility.</strong>
            Despite
            its almost effortless appearance, Seconds is the result of a careful and <strong>imaginative creative
                process.</strong>
        </p>
        <button type="button" class="btn btn-primary">Buy now</button>
    </div>

    <div class="img-inner">
        <img src="./assets/images/hero_watch.png" alt="watch" class="img-fluid" />
    </div>
</div>