<div class="container-fluid">
    <div class="row usp">
        <div class="col-6 col-md-3 usp-item">
            <i class="fa fa-leather fa-3x"></i>
            <span>Leather strap</span>
        </div>
        <div class="col-6 col-md-3 usp-item">
            <i class="fa fa-water fa-3x"></i>
            <span>Water resistant</span>
        </div>
        <div class="col-6 col-md-3 usp-item">
            <i class="fa fa-spring fa-3x"></i>
            <span>Spring Drive</span>
        </div>
        <div class="col-6 col-md-3 usp-item">
            <i class="fa fa-warranty fa-3x"></i>
            <span>Warranty</span>
        </div>
    </div>
</div>