#catergories{
  justify-content:space-between;
  .nav-item{
    &:not(:last-of-type){
        //margin-right:3px;
      }
  }
  $tabs: ("tickets":$secondary, "accessories":$warning, "food":$success, "vip":$info);

  @each $id, $bg in $tabs{
    ##{$id}-tab{
      display:flex;
      flex-flow: row;
      align-items:center;
      color: $white;
      
      
      border:2px solid $bg;
      background: $bg;
     
      width:100%;
      height:100%;
      line-height:1.2;
      font-family:"ubuntu-bold";
      flex: 0 0 100%;
      i{
        font-size:1.5em;
        
      }
      span{
         display:none;
      }
       @include media-breakpoint-up(sm){
        max-width:125px;
        span{
          display:block;
        }
        i{
          padding-left:5px;
        }
       }
       @include media-breakpoint-up(md){
        font-size: 1.4em;
        max-width: 170px;
         padding:15px 15px;
       }
      @include media-breakpoint-up(lg){
        padding:15px 21px;
         max-width: 233px;
        font-size: 1.715em;
        span{
          display:block;
        }
        i{
          font-size:2em;
          padding:0 12px;
        }
      }
      &:hover, &.active{
        color: $bg;
        background:$trs;
      }
      &.active{
        position:relative;
        &:before,&:after{
          position:absolute;
          content:'';
          border:15px solid $trs;
          left:50%;
          transform: translateX(-50%);
          transition: .5s ease;
        }
        &:before {
          top:100%;
         border-top-color:$bg; 
        }
        &:after {
            top:97%; 
            border-top-color:#fff;
        }
      }
    }
  }

}