header {
  background:$blue;
  color: $white;
  .left{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top:9px;
    padding-bottom: 11px;
    .cart-containter{
      span{
        color: $blue-200;
      }
    }
  }
}