.file-item {
  padding: 15px;
  width: 100%;

  &__header {
    align-items: center;
    background-color: #e7e7e7;
    display: flex;
    padding: 10px;
  }

  &__buttons {
    margin-left: auto;
  }

  &__name {
    font-size: 20px;
    margin: 0;
  }

  &__body {
    border: 1px solid #e7e7e7;
  }

  &__content {
    padding: 10px;

    pre {
      margin: 0;
    }
  }
}