.file-list {
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
    overflow: hidden;
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.is-active {
      background-color: #2185d0;
      color: #fff;
    }
  }
}