html,
body {
  height: 100%;
}

body {
  position: relative;
	&:before{
		position: fixed;
		padding: 10px;
		width: 40px;
		height: 40px;
		color: red;
		top:10px;
		left: 10px;
		text-align: center;
		background: rgba(0,0,0,.2);
		content: 'xs';
		@include media-breakpoint-up(sm){content: 'sm'}
		@include media-breakpoint-up(md){content: 'md'}
		@include media-breakpoint-up(lg){content: 'lg'}
		@include media-breakpoint-up(xl){content: 'xl'}
		z-index: 9999;
	}
}

i[class^="fa"], i[class*="fa"]{ @include fa(); }

.btn{
	&-circle{
		border-radius:50%;
		&.question{
			background: $white;
			color: $blue;
			width:30px;
			height:30px;
			padding:0;
		}
	}
	
	&-cta{
		display:flex;
		align-items: center;
		font-family: "ubuntu-bold";
		font-size:1.435em;
		padding-right: 20px;
		padding-left:14px;
		i{
			font-size:2.3em;
		}
	}
	&-light{
		color:$primary;
	}
	
	@each $name, $c in $theme-colors{
		&-#{$name}{
			background:$c;
			border-width:2px;
			font-family:"ubuntu-bold";
			&:hover{
				background: $trs;
				color: $c;
				border-width:2px;
			}

		}
	}

}