footer {
  border-top: 1px solid rgba($font-color, 0.15);
  padding-top: 39px;
  text-align: center;
  color: $gray-500;
  h6 {
    font-size: 0.875rem;
    color: $bars-color;
    font-weight: 700;
    margin-bottom: 0.685rem;
  }
  .infos {
    display: flex;
    flex-flow: column wrap;
    ul {
      min-width: 190px;
      li {
        font-size: 0.875rem;
        line-height: 30px;
        font-weight: 400;
      }
    }
  }
  .subscribe {
    h6 {
      margin-bottom: 1.185rem;
    }
    .form-inline {
      justify-content: space-between;
      .form-control {
        margin-bottom: 1.125rem;
        padding: 0.75rem 1rem;
      }
    }
    .invalid-feedback {
      font-size: 0.875rem;
    }
  }
  .sub-footer {
    margin-top: 1.5rem;
    padding: 10px 0 0;
    border-top: 1px solid rgba($font-color, 0.15);
    i {
      cursor: pointer;
    }
  }

  @include media-breakpoint-up(sm) {
    .subscribe {
      .form-inline {
        .form-control {
          width: calc(50% - 14px);
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    h6 {
      text-align: left;
    }
    .infos {
      flex-flow: row wrap;
      ul {
        &:not(:last-of-type) {
          margin-right: 30px;
        }
        li {
          text-align: left;
        }
      }
    }
  }
}
