.overlay {
  overflow: hidden;
}

.container-fluid {
  max-width: 1371px;
}

@mixin marginDiv($mTop:0, $pTop:0){
  margin-top: $mTop;
  padding-top: $pTop;
}

@include media-breakpoint-down(sm) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row{
    margin-left: -20px;
    margin-right: -20px;
    div[class^="col"]{
      @include make-col-ready($gutter:40px)
    }
  }
}