header {
  .navbar {
    padding: 0;
    &.navbar-expand-lg {
      justify-content: space-between;
    }
    //logo
    .navbar-brand {
      display: flex;
      padding: 15px 0;
      .logo {
        display: inline-block;
        background: url("../assets/images/Front_logo.svg") no-repeat;
        width: 120px;
        height: 36px;
        max-width: 87px;
        max-height: 26px;
      }
    }
    //toogler btn
    .navbar-toggler {
      padding: 0;
      &:focus,
      &:active {
        outline: 0;
      }
      &.collapsed {
        .fa-times {
          display: none;
        }
      }
      &:not(.collapsed) {
        .fa-bars {
          display: none;
        }
      }
      i {
        margin: 0;
      }
    }

    //mobile menu
    .mobile-menu {
      display: flex;
      align-items: center;
      .navbar-collapse {
        position: absolute;
        top: 100%;
        left: -20px;
        right: -20px;
        justify-content: flex-end;
        &.show {
          height: 100vh;
          overflow: auto;
          background: rgba($black, 0.75);
          margin-top: 0;
        }

        .list-group {
          border-top: 1px solid $gray-600;
          background: $gray-100;
          overflow: hidden;
          .list-group-item {
            background: none;
            padding: 0 20px;
            &:not(:last-of-type) {
              //margin-right: 15px;
              font-family: Helvetica;
            }
            .btn {
              font-weight: 700;
            }
          }
          &.sub-menus {
            border: 0;
            background: none;
            padding: 0 30px;
            .list-group-item {
              border: 0;
              color: $font-color;
              font-size: 18px;
              line-height: 36px;
              text-decoration: none;
            }
          }
          .btn {
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: $font-color;
            font-size: 1.25rem;
            line-height: 56px;
            &:focus,
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  //media querys
  @include media-breakpoint-up(md) {
    .navbar {
      align-items: stretch;
      .navbar-brand {
        padding: 24px 0 23px;
        .logo {
          max-width: initial;
          max-height: initial;
        }
      }
      .mobile-menu {
        .navbar-collapse {
          left: -40px;
          right: -40px;
          .list-group {
            .list-group-item {
              padding: 0 40px;
            }
          }
        }
      }

      #megamenu {
        align-items: center;
        .menu-item {
          padding: 24px 0;
          &:not(:last-of-type) {
            margin-right: 2.5rem;
          }
          .btn {
            font-size: 1.125rem;
            font-weight: 700;
            text-decoration: none;
            border: 0;
            border-bottom: 3px solid transparent;
            &:hover,
            &:focus,
            &:active {
              border-color: $light-red;
            }
          }
          &:hover {
            & > .submenu {
              display: block;
            }
          }
          .submenu {
            display: none;
            position: absolute;
            background: $white;
            top: 100%;
            left: 0;
            right: 0;
            margin-left: -2.5rem;
            margin-right: -2.5rem;
            padding: 0 2.5rem 5rem;
            .sub-menus {
              color: $card-color;
              h6 {
                font-size: 1rem;
                letter-spacing: 0;
                line-height: 26px;
                font-weight: 700;
                margin-bottom: 2.25rem;
              }
              .list-group-item {
                font-size: 1rem;
                line-height: 26px;
                padding: 0;
                text-decoration: none;
                border: 0;
                color: $card-color;
                &.btn {
                  text-align: left;
                  color: $light-red;
                  margin-top: 2.5rem;
                }
              }
              &.brands {
                flex-flow: row wrap;
                h6 {
                  flex: 0 0 100%;
                }
                .list-group-item {
                  flex: 0 0 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
