.cta-inner {
  position: relative;
  background-image: linear-gradient(270deg, $gray-300 0%, $gray-400 100%);
  overflow: hidden;

  &:after {
    content: "CHRISTOPHER WARD";
    position: absolute;
    top: 0;
    right: -50px;
    max-width: 50px;
    background: $brown;
    height: 100%;
    font-size: 220px;
    font-weight: 700;
    color: rgba($bars-color, 0.2);
    letter-spacing: 0;
    line-height: 180px;
    z-index: 0;
    padding: 50px;
    font-weight: 900;
  }

  .hero-inner {
    display: flex;
    flex-flow: row;
    position: relative;
    align-items: center;
    .hero-cta {
      padding-top: 59px;
      padding-bottom: 58px;
      max-width: 80%;
      h2 {
        font-weight: 700;
        font-size: 28px;
        color: $bars-color;
        line-height: 38px;
        span {
          color: $light-red;
        }
        margin-bottom: 1.85rem;
      }
      p {
        display: none;
      }
    }
    .img-inner {
      position: absolute;
      right: -75px;
      max-width: 227px;
      max-height: 281px;
      z-index: 100;
    }
  }
  //media queries
  @include media-breakpoint-up(sm) {
    .hero-inner {
      .hero-cta {
        h2 {
          font-size: 3.125rem;
          line-height: 62px;
        }
        p {
          display: block;
          font-size: 1rem;
          line-height: 28px;
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    @include marginDiv(-83px, 156px);
  }

  @include media-breakpoint-up(lg) {
    &:before {
      content: "";
      position: absolute;
      top:0;
      background: url("../assets/images/Graphic_pattern.svg") no-repeat;
      background-position: top center;
      background-size: contain;
      width: 100%;
      height: 100%;
    background-position: 75%;
    }

    &:after {
      right: 0;
      left: 56%;
      padding: 250px 75px;
      max-width: initial;
    }
    .hero-inner {
      .hero-cta {
        max-width: 35%;
      }
      .img-inner {
        position: relative;
        //right: -75px;
        max-width: initial;
        max-height: initial;
        // z-index: 100;
        background: linear-gradient(90deg, rgba($white, 0) 50%, rgba($white, 0.1) 50%);
        margin-left: -10px;
      }
    }
  }
}
